---
import Section from "../Section.astro"

import { getI18N } from "@/i18n"
const { basics, ui } = getI18N({ currentLocale: Astro.currentLocale })
const { summary } = basics
---

<Section title={ui.about_title}>
  <p>
    {summary}
  </p>
</Section>

<style>
  html.dark p{
    color: oklch(70.7% 0.022 261.325)
}
</style>