---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mí">
  <p>
    {summary}
  </p>
</Section>

<style>
  html.dark p{
    color: oklch(70.7% 0.022 261.325)
}
</style>